<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="GreenBits" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        The Painless POS Designed For Marijuana Retailers.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.greenbits.com/" >Home Page</a>
      </p>
    </div>
  </div>
  <div class="well">
    <h2>Green Bits Home</h2>
    <p>
      This site is typically for the greenbits team to stay in touch with each other.<br>
        Feel free to check out some cool pages at <a href="http://www.greenbits.com/">greenbits.com</a> though!
      <ul>
        <li><a target="_blank" href="http://www.greenbits.com/">Overview</a>
        </li>
        <li><a target="_blank" href="http://www.greenbits.com/about/">About Us</a>
        </li>
        <li><a target="_blank" href="http://www.greenbits.com/contact/">Contact Us</a>
        </li>
        <li><a target="_blank" href="http://www.greenbits.com/privacy/">Privacy Policy</a>
      </ul>
    </p>
    <h2>Green Bits Links</h2>
    <p>
      We want to help you in any way we can.
        These links might help you if you're in a bind.
        If you're still stuck, <a target="_blank" href="http://www.greenbits.com/contact/">Contact Us</a>.
      <ul>
        <li><a target="_blank" href="http://help.greenbits.com/">GreenBits Help Center</a>
        </li>
        <li><a target="_blank" href="http://greenbitsstatus.com/">GreenBits Software Status</a>
        </li>
    </p>
  </div>
</section>
