<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Team's Timezones</h1>
      </div>
<!--
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
-->
    </div>
  </div>
    <h1 ng-repeat="timezone in timezoneGroups" >
      <div class="list-group">GMT{{timezone[0].timezoneOffset}}
          <span class="pull-right">(-----Local time:{{timezone.UTCDelta}}-----)</span>
        <a ng-repeat="user in timezone" ui-sref="admin.user({userId: user._id})" class="list-group-item">
          <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="pull-left timezone-profile-image" />
          <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
          <p class="list-group-item-text pull-right small" >Last updated:<br> {{user.updated | date : 'mediumDate'}}</p>
          <p class="list-group-item-text" ng-bind="user.email"></p>
        </a>
      </div>
    </h1>
